h1{
    color: red;
    display: grid;
    float: right;
    width: 50%;
    padding: 10px;
    
}

p {
    display: grid;
    float: right;
    width: 50%;
    padding: 20px;
    text-align: inherit
}

#picture {
    width: 500px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    margin-left: 100px;
}