header {
    margin-top: -25px;
    margin-left: -10px
}
.algemeen {
    padding-top: 5%;
}

 footer {
    position: static;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
}
