/* - Header  */
/* -- Logo */
.headerlogo{
	display: inline; 
	vertical-align: middle;
}

.headertxt{
	display: inline; 
}


/* --Navigation */


/* - Body */




/* - Footer */

footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

