.test div{    
    display: inline-block;
    text-align: center;
    align-content: center;
}

img{
    width: 15%;
    height: 15%;
    text-align: center;
}

.test div h1{
    text-align: center;
    margin-top: -20px;
}

h1{
    padding-top: 20px;
}

p{
    font-size: 30px;;
}

#Marjolein{
    align-content: center;
    width: 20%;
}

#Scott{
    width: 300px;
}

#Kenny{
    width: 300px;
}

#Bert{
    width: 300px;
}

#Valerie{
    width: 300px;
}