.test{
    
}

.test div{
    
    display: inline-block;
    text-align: center;
}

img{
    width: 15%;
    height: 15%;
    text-align: center;
}

.algemeen{
    text-align: center;
    
}

.test div h1{
    
    text-align: center;
}

.test div p{
    font-family: "Ariel";
}

#Marjolein{
    align-content: center;
    width: 20%;
}

#Scott{
    width: 300px;
}

#Kenny{
    width: 300px;
}

#Bert{
    width: 300px;
}

#Valerie{
    width: 300opx;
}