.cafe img{
    width: 20%;
    height: 20%;
    padding: 10px;
    margin-top: 3%
}

.cafe{
    display: flex;
    justify-content: center;
}

.cafe figure{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
}

.mapouter{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    text-align:right;
    height:200px;
    width:300px;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:200px;
    width:300px;
}