.navbar{ /* nav-element */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.navbarList{ /* ul-element */
    list-style: none;
    text-align: center;
    border-style: solid;
    border-collapse: collapse;
    border-color: #a0a0a0;
    background-color: #a0a0a0;
}

.navbarList-item{ /* li-element */
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-family: inherit;
    font-size: 40px;    
}

.navbarList-item:hover{
    transform: scale(0.9);
}

a{
    text-decoration: none;
    color: black;
}

table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;    
}

tr{
    margin: 10px;
    padding: 10px;
}

th{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}