#wapenschild{
    width: 250px;
    height: 300px;
}

.schild {
  text-align: center;
  margin-left: 10%;
  float:left;
}
 .clublied {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    font-size: 17px;;
}

.info {
  text-align: center;
  margin-right: 10%;
  float: right;
}
/* algemeen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clublied{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}*/
