div{
    text-align: center;
}

div h1 {
    font-family: "courier new light";
}

div p{
    font-family: "helvetica";
    padding-bottom: 3%;
}

.goud{
    color: #FDF202;
}

.keel{
    color: #EC1A25;
}

.azuur{
    color: #0171BB;
}

#top{
    padding-top: 20px; 
}