table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*th:hover{
    transform: scale(1.01);
    text-shadow: -1px -1px 0 #EC1A25,
     1px -1px 0 #EC1A25,
     -1px 1px 0 #EC1A25,
    1px 1px 0 #EC1A25;
}*/

th:hover{
    transform: scale(1.01);
    text-shadow: -1px -1px 0 #0171BB,
     1px -1px 0 #0171BB,
     -1px 1px 0 #0171BB,
    1px 1px 0 #0171BB;
}

.img-border{
    border-radius: 5%;
    width: 200px;
    height: 300px;
}


/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* relevant styles */
.img__wrap {
  position: relative;
    margin: 10px;
}

.img__description {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  /*transition: opacity .2s, visibility .2s;*/
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}