.nieuwtjes{
    padding-top: 1%;
    margin-left: 50%;
    width: 50%;
    height: 40%
    overflow: auto;
    padding:5px;
}

.nieuwtje h1{
    font-family: "New courier";
}

.nieuwtje p{
    font-family: "courier new light";
}