h1{
    display: flex;
    padding-top: 8%;
    justify-content: center;
}

p{
    margin: 5%;
    font-size: 20px;
}

button{
    font-size: 20px;
    width: 25%
    margin: 5px;
    background-color: #EC1A25;
    color: white;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}