h1{
    display: flex;
    padding-top: 8%;
    justify-content: center;
}



.tekst{
    margin: 5%;
    font-size: 20px;
    padding-right: 8%;
    padding-left: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap
}

input{
    margin:0px auto; 
    display:block;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    
}

input:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
    opacity: 1;
}

input{
    border: 0px;
    font-family: "helvetica bold";
    padding: 5px;
    opacity: 0.5;
}