table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    padding-bottom: 120px;
}

tr{
    
}

th:hover{
    transform: scale(1.1);
}

img{
    border-radius: 5%;
    width: 200px;
    height: 200px;
    margin: 12px;
}