/*
table{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.algemeen{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 30%;
    height: 30%;
}