/*
table{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.algemeen{
    display: flex;
    justify-content: center;
    align-items: center;
}

#test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1; 
    margin-right: auto;
    margin-left: auto;
}

tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    padding: 10px;
}

#foodtruckfestival-image{
    width: 20%
}