/*
table{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
#test{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

table {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

img{
    position: static;
    padding: 10px;
    z-index: 1;
    width: 50%
}

#foodtruckfestival-image{
    width: 30%;
}

#quetzal-image{
    width: 50%;
}

#barbier-image{
    width: 40%;
}

#carrefour-image{
    width: 30%;
}