.anyClass {
  height: 700px;
  overflow-y: scroll;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 20px;
}

footer img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

nav{
    background-image: url(../Pictures/rsz_groepsfoto_cutinlength.png);
    background-position: center;
    height: 670px;
}

.goud{
    color: #FDF202;
}

.keel{
    color: #EC1A25;
}

.azuur{
    color: #0171BB;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; 
}

.copyright{
    color: black;
}

@media (max-width: 600px) {
    nav{
        background-image: url(../Pictures/rsz_navigationbackground-phone.jpg);
        background-position: center;
        height: 644px;
    }
    
    #basicExampleNav{
        margin-top: 30px;
    }
    
    #togglebutton{
        margin: 5px;
        background-color: black;
    }
    
    nav{
        width: auto;
    }
}

